{% extends 'base.html' %}


{% block title %} Login Success {% endblock %}</title>

{% block content %}
    {% if firstname %}
        <h1>Welcome, {{ firstname }}!</h1>
    {% else %}
        <h1>Welcome, {{ request.user.username }}!</h1>
    {% endif %}
    <p>Login successful.</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Log out</button>
    </form>

        <h1>You don't have any memories</h1>
        <form action="{% url 'add_memory' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Add a memory</button>
    </form>

{% endblock %}
