<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brief description of the service</title>
</head>
<body>
  <h1>Welcome to our Places Remember service!</h1>
  <p>Here you can store your impressions of the places you visit.</p>

        <form action="{% url 'google_login' %}">
  <button class="btn btn-primary" type="submit">Log in using Google</button>
</form>

<form action="{% url 'vk_login' %}">
  <button class="btn btn-primary" type="submit">Log in using VK</button>
</form>
</body>
</html>