{% extends 'base.html' %}

{% block title %}Places Remember{% endblock %}

{% block content %}
{% if firstname %}
    <h1>Welcome {{ firstname }} to our "Places Remember" service!</h1>
{% elif request.user.username %}
    <h1>Welcome {{ request.user.username }} to our "Places Remember" service!</h1>
{% else %}
    <h1>Welcome to "Places Remember" service!</h1>
{% endif %}

<p><h1>Here you can store your impressions of the places you visit.</h1></p>

{% if firstname or request.user.username %}
    <form action="{% url 'logout' %}" method="get">
        <button class="btn btn-primary" type="submit">Log out</button>
    </form>
        <br>
    <form action="{% url 'add_memory' %}" method="get">
        <button class="btn btn-primary" type="submit">Add a memory</button>
    </form>
    {% if memories %}
        <br>
    <h2>My Memories:</h2>

        {% for memory in memories %}
        <li>{{ memory.name }} - {{ memory.comment }}</li>
        {% endfor %}

    {% else %}
    <br>
    <p>You don't have any memories yet.</p>
    {% endif %}
{% else %}
    <form action="{% url 'google_login' %}">
        <button class="btn btn-primary" type="submit">Log in using Google</button>
    </form>
        <br>
    <form action="{% url 'vk_login' %}">
        <button class="btn btn-primary" type="submit">Log in using VK</button>
    </form>
{% endif %}
{% endblock %}


